<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.yuanjin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".mvp.login.view.LoginMVPActivity"/>

        <!-- Test Activity-->
        <activity android:name=".mytest.recycleviewdemo.RecyclerViewActivity"/>
        <activity android:name=".mytest.recycleviewdemo.sample.RecyclerViewActivity2"/>
        <activity android:name=".mytest.recycleviewdemo.sample.MultiItemRvActivity"/>
        <activity android:name=".ui.MySamplesActivity"/>
        <activity android:name=".mytest.rxjavademo.RxJavaDemoActivity"/>

    </application>

</manifest>